.gitignore
gruepr.pro.user
gruepr.pro.user*
test_surveys/*
prev_versions/*
macOS/*
!macOS/MyAppInfo.plist
windows/*
Rich's fishes/*
googlesecrets.h
LMS/googlesecrets.h
LMS/canvasScopes.txt
Brandbook-Gruepr.pdf
hecvatlite305.xlsx