.gitignore
.DS_Store
gruepr.pro.user
gruepr.pro.user*
test_surveys/*
prev_versions/*
macOS/*
!macOS/MyAppInfo.plist
windows/*
ci_secrets.pri
local_secrets.pri
LMS/canvasScopes.txt
Brandbook-Gruepr.pdf
hecvatlite305.xlsx
build/*
