name: Build
 
on: workflow_dispatch # when to trigger this. Here, manually
jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        aqtversion: '==3.1.*'
        version: '6.9.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'
        modules: 'qtcharts qtnetworkauth'
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: actions/checkout@v3
    
    - name: Install jom
      run: choco install jom

    - name: Install NSIS
      run: choco install nsis

    - name: Create secrets defines
      run: |
        @"
        DEFINES += GITHUB_SECRETS
        DEFINES += SECRET_GOOGLE_CLIENT_ID=\\\"${{ secrets.SECRET_GOOGLE_CLIENT_ID }}\\\"
        DEFINES += SECRET_GOOGLE_CLIENT_SECRET=\\\"${{ secrets.SECRET_GOOGLE_CLIENT_SECRET }}\\\"
        "@ | Out-File -FilePath ci_secrets.pri -Encoding utf8
      
    - name: QMake
      run: qmake gruepr.pro -spec win32-msvc "CONFIG-=qml_debug" "CONFIG+=qtquickcompiler" "CONFIG-=separate_debug_info"
      
    - name: QMake All
      run: jom qmake_all

    - name: Compile
      run: jom
      
    - name: Clean
      run: jom clean

    - name: Deploy
      run: |
           mkdir bin
           move release\gruepr.exe bin
           windeployqt bin\gruepr.exe

    - name: Download VC++ Redistributable
      run: |
        Invoke-WebRequest -Uri "https://aka.ms/vs/17/release/vc_redist.x64.exe" -OutFile vc_redist.x64.exe

    - name: Make installer
      run: |
           & "C:\Program Files (x86)\NSIS\makensis.exe" windows\gruepr_InstallScript.nsi

    - name: Upload unsigned installer
      uses: actions/upload-artifact@v6
      with:
        name: gruepr
        path: gruepr.exe
        compression-level: 0
        
#    - name: Sign with SignPath
#      id: sign
#      uses: signpath/github-action-submit-signing-request@v2
#      with:
#          api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
#          organization-id: '${{ secrets.SIGNPATH_ORG_ID }}'
#          project-slug: '${{ secrets.SIGNPATH_PROJECT_SLUG }}'
#          signing-policy-slug: 'test-signing'
#          github-artifact-id: '${{ steps.upload-unsigned.outputs.artifact-id }}'
#          wait-for-completion: true
#          output-artifact-directory: 'signed'
#
#    - name: Upload signed installer
#      uses: actions/upload-artifact@v6
#      with:
#          name: qt-qmake-test-installer-signed
#          path: signed/qt-qmake-test-installer.exe
#          compression-level: 0
